{% extends 'layout/basic.html' %}

{% block content %}
<div class="info">
    <h1>{{product}}</h1>
    <p class="rubric"><a href="">{{product.rubric}}</p></a>
    <p>{{ product.content }}</p>
    <img src="{{ product.img }}" alt="Обложка">
    <p>{{ product.published }}</p>

    <h3>Комментарий</h3>
    {% if comments %}
      Comment{{ comments.count|pluralize }}
      <span>{{ comments.count }}</span>
      {% for comment in comments %}
        <strong>{{ comment.user }}</strong> said
        <p >{{ comment.body }}</p>
        <p ><small>{{ comment.created }}</small></p>
      {% endfor %}
  
  {% endif %}
    <form method="POST">
      {% csrf_token %}
      {{comment_form.as_p}}
      <button name="comment" type="submit">Отправить</button>
  </form>
</div>
{% endblock %}